.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formSection {
  width: 240px;
  height: 430px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border: 1px solid rgb(156, 144, 144);
  border-radius: 10px;
  background-color: rgb(230, 227, 227);
  padding: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;
}
.x-icon {
  color: rgb(238, 34, 34);
  font-size: 30px;
  position: fixed;
  top: 100px;
  left: 740px;
  border: none;
  background-color: rgb(230, 227, 227);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.hidden {
  display: none;
}
