body {
  padding: 0px;
  margin: 0px;
}
.pageContent {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 4fr;
}
a {
  display: block;
  text-decoration-line: none;
  color: rgb(99, 86, 237);
  margin: 30px 40px 5px 5px;
}
.sidebar {
  background-color: rgb(165, 170, 169);
  height: 100vh;
}
.cards {
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100px;
  margin: 10px;
}
.studentsCard {
  display: inline;
  background-color: rgb(114, 110, 110);
  height: 100px;
  margin: 10px;
  text-align: center;
}
.teachersCard {
  display: inline;
  background-color: rgb(114, 110, 110);
  height: 100px;
  margin: 10px;
  text-align: center;
}
.departmentsCard {
  display: inline;
  background-color: rgb(114, 110, 110);
  height: 100px;
  margin: 10px;
  text-align: center;
}
.activeDepCard {
  display: inline;
  background-color: rgb(114, 110, 110);
  height: 100px;
  margin: 10px;
  text-align: center;
}
