table {
  border-collapse: collapse;
}
th {
  padding-right: 50px;
  border: 1px solid;
}
/* .hidden {
  display: none;
} */
* {
  padding: 0px;
  margin: 0px;
}
.pageContent {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 4fr;
}
a {
  display: block;
  text-decoration-line: none;
  color: rgb(99, 86, 237);
  margin: 30px 40px 5px 5px;
}
.sidebar {
  background-color: rgb(165, 170, 169);
  height: 100vh;
}
